<!-- Category Start -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Ubuntu:wght@700&display=swap');
    </style>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 class="mb-2">추천 여행 지역</h2>
        </div>
        <div id="areabox" class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="/place?area=1">
                    <div class="rounded" id="imgBtn-wrap">
                        <div class="imgBtn-image"><img class="rounded" src="https://images.unsplash.com/photo-1540998145333-e2eef1a9822d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1383&q=80"></div>
                        <div class="imgBtn-text">
                            <h4>서울</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a href="/place?area=31">
                    <div class="rounded" id="imgBtn-wrap">
                        <div class="imgBtn-image"><img class="rounded" src="https://images.unsplash.com/photo-1627378753025-29850f7cc019?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"></div>
                        <div class="imgBtn-text">
                            <h4>경기도</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a href="/place?area=32">
                    <div class="rounded" id="imgBtn-wrap">
                        <div class="imgBtn-image"><img class="rounded" src="https://images.unsplash.com/photo-1625409908499-5ef472a779f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80"></div>
                        <div class="imgBtn-text">
                            <h4>강원도</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a href="/place?area=33">
                    <div class="rounded" id="imgBtn-wrap">
                        <div class="imgBtn-image"><img class="rounded" src="https://youimg1.tripcdn.com/target/100f1f000001gqbe60FB0_C_640_320_R5_Q70.jpg_.webp?proc=source%2Ftrip"></div>
                        <div class="imgBtn-text">
                            <h4>충청도</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="/place?area=37">
                    <div class="rounded" id="imgBtn-wrap">
                        <div class="imgBtn-image"><img class="rounded" src="https://img.trippose.com/thum/1040171/900/450"></div>
                        <div class="imgBtn-text">
                            <h4>전라도</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a href="/place?area=35">
                    <div class="rounded" id="imgBtn-wrap">
                        <div class="imgBtn-image"><img class="rounded" src="https://blog.trazy.com/wp-content/uploads/2020/08/gyeongsangbukdo-thumb-scaled-1200x900.jpg"></div>
                        <div class="imgBtn-text">
                            <h4>경상도</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a href="/place?area=39">
                    <div class="rounded" id="imgBtn-wrap">
                        <div class="imgBtn-image"><img class="rounded" src="https://images.unsplash.com/photo-1637052298263-a18c4e2605ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"></div>
                        <div class="imgBtn-text">
                            <h4>제주도</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a href="/place">
                    <div class="rounded" id="imgBtn-wrap">
                        <div class="imgBtn-image"><img class="rounded" src="https://images.unsplash.com/photo-1619179834700-7a886aac80cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"></div>
                        <div class="imgBtn-text">
                            <h4>전국</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 class="mb-3">베스트 여행 후기</h2>
        </div>
        <% if (!data[0]) { %>
            후기가 없습니다.
        <% } else { %>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <% data.forEach(value => { %>
            <div class="testimonial-item rounded p-3">
                <div class="bg-white rounded p-4">
                    <div class="d-flex align-items-center">
                        <% if (value.multiple == 0) { %>
                            <img class="img-fluid flex-shrink-0 rounded" src="/public/uploads/<% image.forEach(img => { if (img.board_ID == value.board_ID) { %><%= img.filename %><% }})%>" style="width: 150px; height: 150px; margin-right: 20px;">
                        <% } else { %>
                            <% image.forEach(img => { %>
                                <% if (img.board_ID == value.board_ID) { %>
                                    <img class="img-fluid flex-shrink-0 rounded" src="/public/uploads/<%= img.filename %>" style="width: 150px; height: 150px; margin-right: 20px;">
                                <% } %>
                            <% }) %>
                            <% } %>
                        <div class="ps-3">
                            <h7 class="fw-bold mb-1"><%= value.title %></h7>
                            <br/>
                            <small class="mt-2"><%= value.tag %></small>
                            <p class="mt-"><%= value.content %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        <% } %>
        </div>
    </div>
</div>
<!-- Testimonial End -->