<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row tab-pane fade show p-0">
        <% if (!boardData[0]) { %>
            작성한 후기가 없습니다.
        <% } else { %>
        <% boardData.forEach(value=> { %>
            <div class="bg-light rounded p-3">
                <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                    <div class="row g-5 align-items-center">
                    <% if (value.multiple==0) { %>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded w-100" src="/public/uploads/<% image.forEach(img => { if (img.board_ID == value.board_ID) { %><%= img.filename %><% }})%>" alt="">
                        </div>
                    <% } else { %>
                        <div class="col-lg-6 wow fadeIn owl-carousel header-carousel">
                        <% image.forEach(img=> { %>
                            <% if (img.board_ID==value.board_ID) { %>
                                <div class="header-item" data-wow-delay="0.1s">
                                    <img class="img-fluid rounded w-100" src="/public/uploads/<%= img.filename %>" alt="">
                                </div>
                            <% } %>
                        <% }) %>
                        </div>
                    <% } %>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="mb-4" id="btn">
                                <input type="hidden" id="boardid" value="<%= value.board_ID %>">
                                <a href="/board/write?boardid=<%= value.board_ID %>" class="btn btn-dark py-2 px-3">수정</a>
                                <a href="" class="btn btn-dark py-2 px-3" onclick="deleteBoard()">삭제</a>
                            </div>
                            <div class="mb-4">
                                <h2 class="mb-3"><%= value.title %></h2>
                            </div>
                            <div class="mb-4">
                                <p><%= value.content %></p>
                            </div>
                            <div class="mb-4">
                                <p><%= value.tag %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
        <% } %>
        </div>
    </div>
</div>
<!-- Property List End -->