<!-- Property List Start -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Ubuntu:wght@700&display=swap');
    </style>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row tab-pane fade show p-0">
        <% if (!boardData[0]) { %>
            <div class="container-xxl wow fadeInUp" data-wow-delay="0.1s">
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h2 class="mb-4">작성한 후기가 없습니다.</h2><br>
                            <a class="btn btn-primary py-3 px-5" href="/board">후기 작성하러 가기</a>
                            <br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
        <% boardData.forEach(value=> { %>
            <div class="bg-light rounded p-3">
                <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                    <div class="row g-5 align-items-center">
                    <% if (value.multiple==0) { %>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded w-100" src="/public/uploads/<% image.forEach(img => { if (img.board_ID == value.board_ID) { %><%= img.filename %><% }})%>" alt="">
                        </div>
                    <% } else { %>
                        <div class="col-lg-6 wow fadeIn owl-carousel header-carousel">
                        <% image.forEach(img=> { %>
                            <% if (img.board_ID==value.board_ID) { %>
                                <div class="header-item" data-wow-delay="0.1s">
                                    <img class="img-fluid rounded w-100" src="/public/uploads/<%= img.filename %>" alt="">
                                </div>
                            <% } %>
                        <% }) %>
                        </div>
                    <% } %>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="mb-3 text-end" id="btn">
                                <a href="/board/write?boardid=<%= value.board_ID %>" class="btn btn-dark py-2 px-3">수정</a>
                                <a href="" class="btn btn-dark py-2 px-3" onclick="deleteBoard(<%= value.board_ID %>);">삭제</a>
                            </div>
                            <div class="mb-4">
                                <% if(value.contentid == 'null') { %>
                                    <h3 class="mb-3"><%= value.title %></h3>  
                                <% } else { %>
                                    <a href="/place/detail?contentid=<%= value.contentid %>">
                                        <h3 class="mb-3"><%= value.title %></h3>
                                    </a>
                                <% } %>
                                <hr>
                            </div>
                            <div class="mb-3" style="height: 180px;">
                                <p><%= value.content %></p>
                            </div>
                            <div class="mb-5">
                                <p class="p-2 rounded bg-light" style="display: inline-block; margin: auto;">#<%= value.tag %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
        <% } %>
        </div>
    </div>
</div>
<!-- Property List End -->